.body {
    font-family: 'Roboto', sans-serif;
    width: 1158px;
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,p {
margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header.container {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header {
    display: flex;
    border: 1px solid #ececec;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.webstudio {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #2E2F42;

    margin-right: 77px;

}

.webstudio_footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #F4F4FD;
    display: flex;
}

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #4D5AE5;

}

.nav_link {
    display: flex;
    padding: 0;

}

.nav {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    margin: 0 auto;
}

.nav_port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 8px 16px;
    background: #4D5AE5;

    color: #E7E9FC;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.nav:hover {
    color: #4D5AE5;
}

.nav_port:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.cont {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: #434455;

}

.cont_ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: auto;
}

.cont:hover {
    color: #4D5AE5;
}

.service_order {
    background-color: #2E2F42;
    padding: 192px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.solut {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.0;

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    width: 492px;
    height: 120px;
}

footer.container {
    background-color: #2E2F42;
}

.button_order {
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #F4F4FD;
    cursor: pointer;
    display: block;
    margin: 0 auto;

}

.button_order:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.char_header {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 8px;
}

.char {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;
    margin: 0 auto;
}


.wawd {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.wawd_section {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}


.wawd_ul {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.wawd_img {
    margin-right: 24px;
}

.ot {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;

    letter-spacing: 0.02em;

    color: #2E2F42;
    margin: 0 auto;
    display: flex;

    justify-content: center;
    margin-bottom: 72px;
}

.container_ot {
    padding-top: 120px;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}


.teamates {
    display: flex;
    padding: 0;
    justify-content: center;
}

.teamates_box:last-child {
    margin-right: 0;
}

.teamates_box {
    margin-right: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    height: 380px;
}

.teametes_div {
    margin: 0 auto;
    justify-content: center;
    padding: 32px 16px 32px 16px;

}

.teamate_name {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;
    display: flex;
    margin: 0 auto;
    margin-bottom: 8px;
    justify-content: center;
}

.teamate_prof {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;

    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.footer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #E7E9FC;
    display: flex;
    margin-left: 0;
    margin-top: 8px;

}

.nav_buttons {
    display: flex;
    justify-content: center;
    margin-left: 427px;
    padding-left: 0;
    padding-top: 96px;
    margin: 0;
}

.container_nav {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 72px;
}

.li_but {
    margin-right: 24px;
}

.li_but:last-child {
    margin-right: 0;
}

.nav_port_text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.04em;

    color: #4D5AE5;

}

.name_proj {
    display: flex;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;
    padding-left: 16px;
}

.type_proj {
    display: flex;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;
    padding-left: 16px;

}

.customers {
    font-family: 'Roboto';
    font-style: normal;
}

.footer_color {
    background-color: #2E2F42;
}

.list {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.list:last-child {
    margin-right: 0;
}

.listcont {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.listcont:last-child {
    margin-right: 0;
}

.listport {
    display: flex;
    list-style: none;
}

.listchar {
    display: table;
    list-style: none;
    margin-right: 24px;
}

.listchar:last-child {
    margin: 0;
}

.char_ul {
    display: flex;
    margin: 0 ;
    padding-left: 0;
    align-items: center;

}

.socialnetwork {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25px;

}

.listproj {
    margin-bottom: 48px;
    list-style: none;
    margin-right: 24px;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.proj_char {
    padding: 32px 0;
}

.proj_ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
    padding-bottom: 120px;
    margin: 0;
}

.listproj_ {
    padding: 0;
    margin-bottom: 48px;
    margin-right: 0;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}



.pecu {
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}

.footer_div {
    display: flex;
    padding-right: 850px;
    padding-bottom: 16px;
}

.footer_div:last-child {
    display: flex;
    padding-bottom: 0;
    margin: 0;
}

.footer_ul {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
}
