.body {
    font-family: 'Roboto', sans-serif;
    width: 1158px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 72px;
    border: 1px solid #ececec;
}

.webstudio {
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #2E2F42;

    padding-top: 24px;
    padding-left: 155px;

}

.webstudio_footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #F4F4FD;
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 155px;
}

.footer_ul {
    padding: 0;
}

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;

    letter-spacing: 0.03em;

    color: #4D5AE5;

}

.nav_link {
    display: flex;
    margin: 0 auto;
align-items: center;
padding-right: 330px

}

.nav {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    margin: 0 auto;


}

.nav_port {
    box-sizing: border-box;
    padding: 8px 16px;
    background: #4D5AE5;

    color: #E7E9FC;
    cursor: pointer;
    order: 1px solid #E7E9FC;
    border-radius: 4px;

}

.nav:hover {
    color: #4D5AE5;
}

.nav_port:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.cont {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;

    color: #434455;
}

.cont_ul {
    display: flex;
    align-items: center;
    padding-right: 133px;
}

.cont:hover {
    color: #4D5AE5;
}

.service_order {
    background-color: #2E2F42;
    padding: 140px;


}

.solut {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.0;

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;
    padding: 120px;
    margin: 0 auto;
    padding-bottom: 48px;
    width: 492px;
    height: 120px;
}

.button_order {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #F4F4FD;
    cursor: pointer;
    display: block;
    width: 170px;
    height: 51px;
    margin: 0 auto;

}

.button_order:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.char_header {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    margin: 0 auto;
}

.char {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;
    margin: 0 auto;
}


.wawd {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-align: center;
    margin: 0 auto;
}

.wad_section {
    display: flex;
    align-items: center;
    padding: 120px 155px 120px 155px;


}

.wawd_img {
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 120px;
    padding-top: 72px;
    align-items: center;
    justify-content: space-evenly;
}


.ot_section {
    background-color: #F4F4FD;

}

.ot {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;

    letter-spacing: 0.02em;

    color: #2E2F42;
    margin: 0 auto;
    display: flex;

    justify-content: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.teamates {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 120px;
    height: 436px;
}

.teamates_box {
    background-color: #FFFFFF;
}

.teamate_name {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;
    display: flex;
    justify-content: center;
}

.teamate_prof {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;

    display: flex;
    justify-content: center;

}

.footer_text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #E7E9FC;
    display: flex;
    margin-left: 0;
    width: 265px;
    padding-left: 155px;
}

.nav_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 96px;
    margin: 0 auto;
    width: 586px;

}

.nav_port_text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;

    letter-spacing: 0.04em;

    color: #4D5AE5;

}

.name_proj {
    display: flex;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2E2F42;

    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 8px;
}

.type_proj {
    display: flex;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;

    padding-left: 16px;
    padding-bottom: 32px;
}

.customers {
    font-family: 'Roboto';
    font-style: normal;
}

.footer_color {
    background-color: #2E2F42;
    width: 1440px;
    height: 310px;
}

.list {
    display: flex;
    list-style: none;

    margin-left: 40px;
}

.listcont {
    display: flex;
    list-style: none;
    margin-left: 40px;
}

.listport {
    display: flex;
    list-style: none;
}

.listchar {
    display: table;
    list-style: none;
    padding-right: 24px;
    width: 264px;
    height: 72px;
    padding-top: 120px;
    padding-bottom: 120px;

}

.char_ul {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    padding-left: 155px;
}

.socialnetwork {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25px;

}

.listproj {
    display: table;
    list-style: none;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.proj_ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 120px;
    padding-top: 72px;
    
}

